<%- include('./partials/header.ejs') %>
   <form action="/jobs" method="post">
    <div>
        <label for="">
           enter job name
         <input type="text" name="name">
    </div>
    <div>
        <label for="">enter address 
         <input type="text" name="address">
    </div>
    <div>
        <label for="">enter image url</label>
        <input type="text" name="image">
    </div>
    <div>
        <label for="">enter package</label>
        <input type="number" name="package">
    </div>
    <div class="mb-3">
        <label for="cgpa" class="form-label">CGPA</label>
        <input type="number" class="form-control" id="cgpa" name="cgpa" min="0" max="10" step="0.01">
    </div>
    <div class="mb-3">
        <label for="deadline" class="form-label">Job deadline</label>
        <input type="date" class="form-control" id="deadline" name="deadline">
    </div>
    <div class="mb-3">
        <label for="type" class="form-label">Job Type</label>
        <input type="text" class="form-control" id="type" name="type">
    </div>
    <input type="submit" value="add a new job">
   </form>
<%- include('./partials/footer.ejs') %>>